#containerFormStatuse {
  border: 1px solid grey;
  width: 300px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #68dab8;
}

.miniContainerFormStatuse {
  width: 250px;
  margin: 20px auto;
}

.statuseList {
  /* border: 1px solid red; */
  width: 300px;
  margin: 20px auto;
}
